body{background:#f9f6f1}
h1,h2,h3,h4,h5,h6{font-family:'Alegreya',serif;font-weight:700;color:#4e2806}

.jumbotron{border-bottom:5px solid #ff7200;padding:30px 0;background:#4e2806;}
.jumbotron h1,.jumbotron p{color:#F8F8FF}

.carbonad{border:1px solid #ff7200 !important}

#carbonads-container{margin:0;float:right;width:300px;}
